@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap);
body {
  background-color: #eef0fc;
  font-family: 'Tajawal', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.two-columns {
  display: flex;
  padding: 40px 15%;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272d53;
  text-align: center;
  font-size: 22px;
  color: #fff;
  height: 100px;
}
.footer h5 {
  font-weight: 300;
  font-style: italic;
}
@media only screen and (max-width: 1200px) {
  .two-columns {
    padding: 40px 5%;
  }
}
@media only screen and (max-width: 768px) {
  .two-columns {
    padding: 25px 5%;
    display: block;
  }
}

.about {
  padding: 40px 15vw;
  display: flex;
  background-color: #272d53; /*#5569dc;*/
  color: #fff;
  height: 450px;
}
.img-profile {
  width: 300px;
  height: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  filter: sepia(0.2);
  align-self: center;
}
.personal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
}
.personal-information h1 {
  font-size: 50px;
  font-weight: 200;
}
.personal-information h5 {
  font-size: 22px;
  margin-right: 15px;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
}
.about-title {
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.contact-information {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 15px;
}
.contact-information div {
  display: inline-flex;
  align-self: center;
  margin-bottom: 15px;
}
.contact-information a {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .about {
    padding: 40px 5vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .img-profile {
    width: 20vw;
    margin-bottom: 30px;
  }
  .personal-information h3 {
    font-size: 7vw;
  }
  .personal-information h1 {
    font-size: 4vw;
  }
  .contact-information a {
    font-size: 2.5vw;
    font-weight: 300;
  }
  .personal-information h5 {
    font-size: 2.5vw;
  }
}
@media (max-width: 480px) {
  .contact-information div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .personal-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
  }
  .contact-information a {
    font-size: 4.5vw;
    font-weight: 300;
    text-align: center;
  }
  .personal-information h5 {
    font-size: 4.5vw;
    margin-bottom: 15px;
  }
  .personal-information h1 {
    font-size: 5.5vw;
  }
}

.profile {
  padding: 80px 15% 40px;
}
.profile-title {
  text-transform: uppercase;
  font-size: 35px;
  color: #5569dc;
  font-weight: 500;
  margin-bottom: 30px;
}
.profile-description {
  font-size: 22px;
  color: #272d53;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 35px;
  text-align: justify;
}
@media (max-width: 1200px) {
  .profile {
    padding: 80px 5% 40px;
  }
}
@media (max-width: 480px) {
  .profile-title {
    text-align: center;
  }
  .profile-description {
    text-align: center;
  }
}

.experience {
  padding: 40px 15%;
}
.experience-title {
  text-transform: uppercase;
  font-size: 35px;
  color: #5569dc;
  font-weight: 500;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1200px) {
  .experience {
    padding: 40px 5%;
  }
}
@media (max-width: 480px) {
  .experience-title {
    text-align: center;
  }
}

.academic {
  width: 50%;
  margin: 0 15px 0 0;
  width: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-shadow: 5px 5px 15px #aaa;
}
.academic-title {
  text-transform: uppercase;
  font-size: 35px;
  color: #5569dc;
  font-weight: 500;
  background-color: #c7dfc1;
  padding: 10px;
}
@media (max-width: 768px) {
  .academic {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .academic-title {
    text-align: center;
  }
}

.skills {
  width: 50%;
  margin: 0 0 0 15px;
  width: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-shadow: 5px 5px 15px #aaa;
}
.skills-title {
  text-transform: uppercase;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  background-color: #5569dc;
  padding: 10px;
}
@media (max-width: 768px) {
  .skills {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .skills-title {
    text-align: center;
  }
}

.interest {
  width: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-shadow: 5px 5px 15px #aaa;
  padding-bottom: 30px;
}
.interest-title {
  text-transform: uppercase;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  background-color: #5569dc;
  padding: 10px;
}
@media (max-width: 768px) {
  .interest {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }
  .interest-title {
    color: #5569dc;
    background-color: #c7dfc1;
  }
}
@media (max-width: 480px) {
  .interest-title {
    text-align: center;
  }
}

.language {
  width: 50%;
  margin: 0 0 0 15px;
  width: 50%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-shadow: 5px 5px 15px #aaa;
}
.language-title {
  text-transform: uppercase;
  font-size: 35px;
  color: #5569dc;
  font-weight: 500;
  background-color: #c7dfc1;
  padding: 10px;
}
@media (max-width: 768px) {
  .language {
    width: 100%;
    margin: 0;
  }
  .language-title {
    color: #c7dfc1;
    background-color: #5569dc;
  }
}
@media (max-width: 480px) {
  .language-title {
    text-align: center;
  }
}

.experience-item {
  width: 47%;
  display: inline-grid;
  margin-right: 3%;
  color: #272d53;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  text-align: justify;
}
.job-date {
  margin-bottom: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .experience-item {
    width: 100%;
  }
}

.university {
  margin-bottom: 15px;
  font-weight: 400;
}
.academic-item {
  display: inline-block;
  color: #272d53;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  padding: 30px;
}

.skills-item {
  display: inline-block;
  width: 33%;
  color: #272d53;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  padding: 30px;
}
@media (max-width: 768px) {
  .skills-item {
    width: 50%;
  }
}

.interest-container {
  width: 50%;
  color: #272d53;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  text-transform: capitalize;
  display: inline-block;
  padding: 30px 30px 0;
}

.language-item {
  display: inline-block;
  color: #272d53;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  padding: 30px;
  width: 50%;
}

